<!-- Announcement Col span and offset changed to match target -->
<!-- All other code can be found at application.html.erb -->
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="well text-center">

          <h1>
            <% if @result == "You tied!" %>
            <span class="label label-warning"> <%= @result %> </span>
            <% elsif @result == "You won!" %>
            <span class="label label-success"> <%= @result %> </span>
            <% elsif @result == "You lost!" %>
            <span class="label label-danger"> <%= @result %> </span>
            <% end %>
          </h1>

        </div>
      </div>
    </div>

<!-- ██╗   ██╗███████╗██╗     ██╗   ██╗
     ██║   ██║██╔════╝██║     ██║   ██║
     ██║   ██║█████╗  ██║     ██║   ██║
     ╚██╗ ██╔╝██╔══╝  ██║     ██║   ██║
      ╚████╔╝ ███████╗███████╗╚██████╔╝
       ╚═══╝  ╚══════╝╚══════╝ ╚═════╝ -->
